In [1]:
#1
km = float(input("Enter Kilometer : "))

mile = float(km/1.609)
print("Miles =",mile)

Enter Kilometer :  3

Miles = 1.8645121193287757

In [5]:
#2
C = float(input("Enter celcius: "))

F= (C*1.8)+32

print("Farenheit = ",F)

Enter celcius:  37

Farenheit =  98.60000000000001

In [25]:
#3
import calendar

year = int(input("search year: "))
print(calendar.calendar(year))

search year:  2025

                                  2025

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [32]:
#4
a = float(input("Enter A: "))
b = float(input("Enter B: "))
c = float(input("Enter C: "))

d = float(b**2 - 4*a*c)

if d>0:
    r1= (-b + (d)**0.5)/(2*a)
    r2= (-b - (d)**0.5)/(2*a)
    print("Roots are real and different.")
    print("Root 1 =", r1)
    print("Root 2 =", r2)
elif d == 0:
    r = -b / (2*a)
    print("Roots are real and same.")
    print("Root =", r)
else:
    real = -b / (2*a)
    imag = float((-d)**0.5 / (2*a))
    print("Complex roots:", f"{real}+{imag}i and {real}-{imag}i")

Enter A:  1
Enter B:  -2
Enter C:  5

Complex roots: 1.0+2.0i and 1.0-2.0i

In [45]:
#5
print("********************")
a = float(input("Enter A:"))
print("********************")
b = float(input("Enter B:"))

a = a + b
b = a - b
a = a - b
print("********************")
print("VARIABLE SWAPPED")
print("A =", a)
print("B =", b)
print("********************")

********************

Enter A: 25

********************

Enter B: 35

********************
VARIABLE SWAPPED
A = 35.0
B = 25.0
********************